<div class="container">
    <div class="card">
      <div class="card-body">
        <h2 class="text-center">{{ movie.movieName }}</h2>
        <h5>Booked Seats: {{ movie.bookedSeats }}</h5>
  
        <form (ngSubmit)="bookSeats()">
          <div class="form-group">
            <label for="seatsSelect">Number of Seats:</label>
            <select class="form-control" id="seatsSelect" [(ngModel)]="numberOfSeats" name="seats">
              <option *ngFor="let seat of seatsArray">{{ seat }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Book Seats</button>
        </form>
        
      </div>
    </div>
  </div>
  