<div class="container center">
    <div style="margin-top: 90PX;" class="card">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2 class="form-title">Register</h2>
        <p class="form-subtitle">Please fill in this form to create an account.</p>
  
        <div class="form-group">
          <label for="userName">User Name</label>
          <input formControlName="userName" type="text" placeholder="Enter User Name" id="userName" required>
        </div>
  
        <div class="form-group">
          <label for="fullName">Full Name</label>
          <input formControlName="fullName" type="text" placeholder="Enter Full Name" id="fullName" required>
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input formControlName="email" type="email" placeholder="Enter Email" id="email" required>
        </div>
  
        <div class="form-group">
          <label for="userPassword">Password</label>
          <input formControlName="userPassword" type="password" placeholder="Enter Password" id="userPassword" required>
        </div>
  
        <div class="form-group">
          <label for="secretQuestion">Secret Question</label>
          <select formControlName="secretQuestion" id="secretQuestion" required>
              <option value="What is your nickname">What is your nickname</option>
              <option value="What is your favourite athelete name">What is your favourite athelete name</option>
              <option value="What is your mother's maiden name">What is your mother's maiden name</option>
              <option value="What is the name of your first school">What is the name of your first school</option>
              <option value="What is the name of your city">What is the name of your city</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="secretAnswer">Secret Answer</label>
          <input formControlName="secretAnswer" type="text" placeholder="Enter Secret Answer" id="secretAnswer" required>
        </div>
  
        <div class="form-group">
          <button type="submit" class="btn" [disabled]="!registerForm.valid">Register</button>
        </div>
      </form>
  
      <div class="alternative">
        <p>Already have an account? <a routerLink="/login">Sign in</a>.</p>
      </div>
    </div>
  </div>
  