<div class="container mt-5">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5>Tickets</h5>
      </div>
      <div class="card-body">
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="tickets" class="mat-elevation-z8 mat-table">

            <!-- Transaction Id Column -->
            <ng-container matColumnDef="transactionId">
              <th mat-header-cell *matHeaderCellDef class="header-cell">Transaction ID</th>
              <td mat-cell *matCellDef="let ticket" class="data-cell">{{ticket.transactionId}}</td>
            </ng-container>
  
            <!-- Movie Name Column -->
            <ng-container matColumnDef="movieName">
              <th mat-header-cell *matHeaderCellDef class="header-cell">Movie Name</th>
              <td mat-cell *matCellDef="let ticket" class="data-cell">{{ticket.movieName}}</td>
            </ng-container>
  
            <!-- Seats Booked Column -->
            <ng-container matColumnDef="seatsBooked">
              <th mat-header-cell *matHeaderCellDef class="header-cell">Seats Booked</th>
              <td mat-cell *matCellDef="let ticket" class="data-cell">{{ticket.seatsBooked}}</td>
            </ng-container>
  
            <!-- Seats Available Column -->
            <ng-container matColumnDef="seatsAvailable">
              <th mat-header-cell *matHeaderCellDef class="header-cell">Seats Available</th>
              <td mat-cell *matCellDef="let ticket" class="data-cell">{{ticket.seatsAvailable}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
